
.card {
  width: 75px;
  height: 75px;
  background-color: #ffffff;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  perspective: 1000px;
  margin: 10px;
}

.card .card-inner {
  width: 100%;
  height: 100%;
  transition: transform 0.5s;
  transform-style: preserve-3d;
}

.card.flipped .card-inner {
  transform: rotateY(180deg);
}

.card-front,
.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.card-front {
  background-color: #639ad8;
  color: #ffffff;
}

.card-back {
  background: #c46bcc;
  border: 1px solid #3f51b5;
  transform: rotateY(180deg);
}

#game-board {
  display: flex;
  flex-wrap: wrap;
  width: 500px; /* Adjust the width to accommodate 5 cards per row */
  margin: 0 auto;
  justify-content: center; /* Center the cards horizontally */
}

.game-container {
  display: flex;
}


.timer {
  margin-top: 10px;
}

/* Styles for timer, moves counter, and matched pairs counter */
#timer, #moves, #matched-pairs {
  font-size: 24px;
  font-weight: bold;
  color: black;
  margin-bottom: 10px;
}

/* Styles for buttons */
button {
  border: none;
  color: white;
  padding: 15px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 4px 2px;
}

#start-button {background-color: rgb(20, 190, 20);} 
#pause-button {background-color: rgb(180, 6, 180);}  
#resume-button {background-color: rgb(144, 124, 231); color: black;} 
#exit-button {background-color: red;} 


/* Responsive design */
@media (max-width: 768px) {
  #game-board {
    width: 100%;
  }
}
